.main-title {
  margin-top: 50px;
}

.add {
  margin-bottom: 1rem;
}

#item-list .card .description,
#item-list .card .list-footer {
  display: block;
}

#item-list .card .edit-description,
#item-list .card .edit-footer {
  display: none;
}

#item-list .card.editable .description,
#item-list .card.editable .list-footer {
  display: none;
}

#item-list .card.editable .edit-description,
#item-list .card.editable .edit-footer {
  display: block;
}

@media (min-width: 768px) {
  #item-list .card {
    flex-basis: 25%;
    max-width: 25%;
  }
}